*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 15px;
}

#front{
	display: flex;
	justify-content: space-between;
}

.item {
	padding: 40px;
	height: 5vh;
}
