

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.recep {
	padding: 10px;
	font-size: 25px;
}

#cabeçalho {
	padding: 30px;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: 30px;
}
.titulo {
	margin 20px;
}

#sct1 {
	background-color: #CA9875E5;
	background-image: url(Group\ 7.jpg);
	background-position: center;
	background-size: cover;

}

#sct2 {
	background-color: aliceblue;
}

.nsscf {
	height: 42px;
	font-size: 28px;
	padding: 45px;
	color: #403937;
}

#container1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


#container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 15px;
	margin: 20px;
}

#front {
	display: flex;
	justify-content: space-between;
	padding: 80px;
}

.caneco {
	padding: 80px;
	height: 100vh;
}

.item {
	padding: 40px;
}

.btn1 {
	height: 4vh;
	width: 3vw;
}

.btn2 {
	height: 4vh;
	width: 3vw;
}

.cart {
	margin: 10px;
	height: 4vh;
	width: 3vw;
}

.btnc {
	border: none;
	border-radius: 5px;
	background-color: #332a1a;
	color: aliceblue;
	margin: 40px;
	height: 6vh;
	width: 20vw;
	cursor: pointer;
}

.btne {
	border: none;
	border-radius: 5px;
	background-color: #00955a;
	color: aliceblue;
	margin: 10px;
	height: 6vh;
	width: 20vw;
	cursor: pointer;
}

.footer {
	background-color: #c68b5f;
	background-image: url(Group\ 7.jpg);
	background-size: cover;
	background-position: center;
	color: #2c1b0f;
	padding: 40px 80px;
	position: relative;
	font-family: Arial, sans-serif;
}

/* conteúdo alinhado */
.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10vh;
}

/* texto do rodapé */
.footer-text h3 {
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 5px;
}


.back-to-top {
	background-color: #7a4a23;
	color: #fff;
	padding: 8px 10px;
	border-radius: 6px;
	text-decoration: none;
	font-size: 1.2rem;
}

.back-to-top:hover {
	background-color: #5e3519;
}

.barra {
	border-bottom: #000000 2px solid;
	width: 100%;
}
footer h3{
	height: 5vh;
}