*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(165, 42, 42, 0.502);
}

#container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 15px;
}

#front{
	display: flex;
	justify-content: space-between;
}

.item {
	padding: 40px;
}

.btn1{
	height: 4vh;
	width: 3vw;
}

.btn2{
	height: 4vh;
	width: 3vw;
}

.cart {
	margin: 10px;
	height: 4vh;
	width: 3vw;
}

.btnc {
	margin: 10px;
	height: 4vh;
	width: 8vw;
}

.btne {
	margin: 10px;
	height: 4vh;
	width: 8vw;
}

